Final Project - OOP(Object-oriented programming)
---

Please create an **education** package that contains the following modules:

1. users
2. organizations

When you run the package directly, it should show all the modules specified in the package.

## The description of the modules is given below:

### The **users** module must contain the **Human, Student(Human), Teacher(Human)** classes.

1. The **Human** class must contain the following information: first name, last name, age, gender, nationality, as well as ways to specify this information.
 
>```
> h1 = Human(name="John", familyname="Wick", age=35, gender="male", nationality="USA")
> ```

List of methods:
> ```
set_name()
set_family()
set_age()
set_gender()
set_nationality()
get_info() # returns a dictionary with personal information about the object
> ```

2. The **Student** class is the child class of the Human class. It should contain the following information about each student: first name, last name, age, gender, nationality, name of school or university, list of subjects, and appropriate methods for setting this information.


The list of methods in addition to the list of methods from the parent Human class:
> ```
set_school()
add_subject() # add a subject to the list of subjects
> ```


3. The **Teacher** class is a child class of the Human class. It should contain the following information about each teacher: first name, last name, age, gender, nationality, name of school or university, subject of teaching, and appropriate methods for setting this information.

The list of methods in addition to the list of methods from the parent Human class:
> ```
set_school()
add_subject() # add the subject taught by the teacher
> ```

* When directly running the **users** module directly, the list of classes should be displayed, as well as the lists of methods of the corresponding classes given in the module.

* When you import a module, it should show that the module was successfully imported.

---

### The **organizations** module must contain the **School** class.

The **School** class must contain the following information: school name or number, school address, school phone number, school email address, number of students, number of teachers, and how to specify this information.
 
 
>```
> s1 = School(name="NIS", address="Astana, Kazakhstan", phone="999999", num_stud=1000, num_teachers=50)
> ```

List of methods:
> ```
set_name()
set_address()
set_phone()
set_email()
set_num_stud()
set_num_teachers()
add_student()
add_teacher()
get_info() # returns a dictionary with information about the school without the personal information of students / teachers
get_report() # generates a report (a "csv" file) with information about the school and each student and the teacher at that school.
> ```

**Please make the correct CSV file format (what you think is the most understandable)**

* When directly running the **organizations** module directly, the list of classes should be displayed, as well as the lists of methods of the corresponding classes given in the module.

* When you import a module, it should show that the module was successfully imported.

---

### What to do in jupyter notebook?

In this jupyter notebook, please check all functionality of your package. Create at least 2-3 schools, each school should have at least 10 students (with different information) and at least 2 teachers of different subjects and personal information. **The personal information of these students, teachers and schools does not have to be true (just make it up).**

**Please zip the package and this jupyter notebook together and send the archive file.**

In [1]:
from education.users import *

Human: ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'get_info1', 'set_age', 'set_family', 'set_gender', 'set_name', 'set_nationality'], Student: ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'add_subject', 'get_info', 'get_info1', 'set_age', 'set_family', 'set_gender', 'set_name', 'set_nationality', 'set_school'], Teacher: ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'add_subject', 'get_info', 'get_info1', 'set_age', 'set_family', 'set_gender', 'set_name', 'set_nationality', 'set_school']

In [2]:
h2 = Student(name="John", familyname="Wick", age=35, gender="male", nationality="USA",school="KTL",subject=None)

In [3]:
h2.set_school()

'KTL'

In [4]:
for i in h2.get_info():
    print(i)

name
family
age
gender
nationality
subject
school
Role

In [5]:
h2.add_subject(subject=["History","Physics"])

['History', 'Physics']

In [6]:
h2.add_subject(subject=["Math"])

['History', 'Physics', 'Math']

In [7]:
h2.set_gender()

'male'

In [8]:
h3 = Student(name="Iker",familyname="Casillas",age=30,gender="male",nationality="Spain",school="KTL",subject=None)

In [9]:
h3.set_family()

'Casillas'

In [10]:
h3.add_subject(subject=["Family principle","Driving"])

['Family principle', 'Driving']

In [11]:
h4 = Student(name="Karim",familyname="Benzema",age=24,gender="male",nationality="France",school="KTL",subject=None)

In [12]:
h4.add_subject(subject=["PE","Videoclub"])

['PE', 'Videoclub']

In [13]:
h5 = Student(name="Alvaro",familyname="Arbeloa",age=28,gender="male",nationality="Spain",school="KTL",subject=None)

In [14]:
h6 = Student(name="Vieira",familyname="Marcelo",age=23,gender="male",nationality="Brazil",school="KTL",subject=None)

In [15]:
h7 = Student(name="Ramos",familyname="Sergio",age=25,gender="male",nationality="Spain",school="NIS",subject=None)

In [16]:
h8 = Student(name="Pepe",familyname="-",age=28,gender="male",nationality="Portugal",school="NIS",subject=None)

In [17]:
h9 = Student(name="Xabi",familyname="Alonso",age=30,gender="male",nationality="Spain",school="NIS",subject=None)

In [18]:
h10 = Student(name="Sami",familyname="Khedira",age=24,gender="male",nationality="Germany",school="NIS",subject=None)

In [19]:
h11 = Student(name="Gonzalo",familyname="Higauin",age=24,gender="male",nationality="Argentina",school="NIS",subject=None)

In [20]:
h5.add_subject(subject=["PE","Videoclub"])

['PE', 'Videoclub']

In [21]:
h6.add_subject(subject=["PE"])

['PE']

In [22]:
h7.add_subject(subject=["PE","Videoclub"])

['PE', 'Videoclub']

In [23]:
h8.add_subject(subject=["PE","Videoclub"])

['PE', 'Videoclub']

In [24]:
h9.add_subject(subject=["Chemistry","Biology"])

['Chemistry', 'Biology']

In [25]:
h10.add_subject(subject=["Chemistry","Biology"])

['Chemistry', 'Biology']

In [26]:
h11.add_subject(subject=["Physics","Literature"])

['Physics', 'Literature']

In [27]:
t2 = Teacher(name="Ivan",familyname="Grozny",age=66,gender="male",nationality="Russia",school="KTL",subject=None)

In [28]:
t2.set_age()

66

In [29]:
t2.add_subject(subject=["Russian","Literature"])

['Russian', 'Literature']

In [30]:
t3 = Teacher(name="Winston",familyname="Churchill",age=75,gender="male",nationality="England",school="NIS",subject=None)

In [31]:
t3.add_subject(subject=["English","Geography"])

['English', 'Geography']

In [32]:
t4 = Teacher(name="Margaret",familyname="Thatcher",age=85,gender="female",nationality="Ireland",school="NIS",subject=None)

In [33]:
t4.add_subject(subject=["Chemistry","IT"])

['Chemistry', 'IT']

In [34]:
t4.get_info()

{'name': 'Margaret',
 'family': 'Thatcher',
 'age': 85,
 'gender': 'female',
 'nationality': 'Ireland',
 'subject': ['Chemistry', 'IT'],
 'school': 'NIS',
 'Role': 'Teacher'}

In [35]:
t5 = Teacher(name="Joseph",familyname="Stalin",age=96,gender="male",nationality="Russia",school="KTL",subject=None)

In [36]:
t5.add_subject(subject=["Math","IT"])

['Math', 'IT']

In [38]:
from education.organizations import *

<class 'education.organizations.School'> contains ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'add_student', 'add_teacher', 'get_info', 'get_report_01', 'get_report_02', 'set_address', 'set_email', 'set_name', 'set_num_stud', 'set_num_teachers', 'set_phone'] methods

In [39]:
s1 = School(name="KTL", address="Oral, Kazakhstan", phone="999999",email="thebestschool@gmail.com", num_stud=10, num_teachers=10)

In [40]:
s1.get_info()

{'name': 'KTL',
 'address': 'Oral, Kazakhstan',
 'phone': '999999',
 'email': 'thebestschool@gmail.com',
 'num_stud': 10,
 'num_teachers': 10}

In [41]:
s1.get_info().values()

dict_values(['KTL', 'Oral, Kazakhstan', '999999', 'thebestschool@gmail.com', 10, 10])

In [42]:
s1.set_name()

'KTL'

In [43]:
s2 = School(name="NIS", address="Atyrau, Kazakhstan", phone="8888888",email="the2ndschool@gmail.com", num_stud=100, num_teachers=100)

In [44]:
s1.set_num_stud()

10

In [45]:
s2.get_info()

{'name': 'NIS',
 'address': 'Atyrau, Kazakhstan',
 'phone': '8888888',
 'email': 'the2ndschool@gmail.com',
 'num_stud': 100,
 'num_teachers': 100}

In [46]:
s1.add_student(student=h2)

In [47]:
s1.add_student(student=h3)

In [48]:
s1.add_student(student=h4)

In [49]:
s1.add_student(student=h5)

In [50]:
s1.add_student(student=h6)

In [51]:
s1.add_student(student=h7)

In [52]:
s1.add_student(student=h8)

In [53]:
s1.add_student(student=h9)

In [54]:
s1.add_student(student=h10)

In [55]:
s1.add_student(student=h11)

In [56]:
s2.add_student(student=h2)

In [57]:
s2.add_student(student=h3)

In [58]:
s2.add_student(student=h4)

In [59]:
s2.add_student(student=h5)

In [60]:
s2.add_student(student=h6)

In [61]:
s2.add_student(student=h7)

In [62]:
s2.add_student(student=h8)

In [63]:
s2.add_student(student=h9)

In [64]:
s2.add_student(student=h10)

In [65]:
s2.add_student(student=h11)

In [66]:
s1.add_teacher(teacher=t2)

In [67]:
s1.add_teacher(teacher=t3)

In [68]:
s1.add_teacher(teacher=t4)

In [69]:
s1.add_teacher(teacher=t5)

In [70]:
s2.add_teacher(teacher=t2)

In [71]:
s2.add_teacher(teacher=t3)

In [72]:
s2.add_teacher(teacher=t4)

In [73]:
s2.add_teacher(teacher=t5)

In [74]:
s1.get_report_01()

In [75]:
s2.get_report_02()

In [76]:
s2.list_of_stud[0].get_info().keys()

dict_keys(['name', 'family', 'age', 'gender', 'nationality', 'subject', 'school', 'Role'])